<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>SearchById</title>
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container mt-3">
    <form th:method="POST" th:action="@{/searchById}" th:object="${reservation}">
        <label for="id">Input user id</label>
        <input type="text" th:field="*{id}" id="id"/>
        <input type="submit" value="Search!">
    </form>
    <p style="color:red" th:if="${errorMessage != null}" th:text="${errorMessage}">Error</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>