<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SearchByUser</title>
</head>
<body>

<form th:method="POST" th:action="@{/reservations/searchByUser}" th:object="${reservation}">
    <label for="user">Input user name</label>
    <input type="text" th:field="*{user}" id="user"/>
    <input type="submit" value="Search!">
</form>
<p style="color:red" th:if="${errorMessage != null}" th:text="${errorMessage}">Error</p>
<br/><hr>
<a th:href="@{/reservations/homePage}">Home Page</a>

</body>
</html>