<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Service</title>
</head>
<body>

<a th:href="@{/reservations/new}">Создать бронирование</a>
<br>

<a th:href="@{/reservations/searchById}">Поиск брони по ID</a>
<br>

<a th:href="@{/reservations/searchByUser}">Поиск брони по пользователю</a>
<br>

<a th:href="@{/reservations/searchByResource}">Поиск брони по ресурсу</a>
<br>

<p style="color:blue" th:if="${deleted != null}" th:text="${deleted}">Error</p>

</body>
</html>