<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SearchById</title>
</head>
<body>

<form th:method="POST" th:action="@{/reservations/searchById}" th:object="${reservation}">
    <label for="id">Input user id</label>
    <input type="text" th:field="*{id}" id="id"/>
    <input type="submit" value="Search!">
</form>
<p style="color:red" th:if="${errorMessage != null}" th:text="${errorMessage}">Error</p>
<br/>
<a th:href="@{/reservations/homePage}">Home Page</a>

</body>
</html>